// .para {
//     width: 250px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
// .title {
//     width: 250px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }
.price {
    font-weight: bolder;
    color: red;
}
.category {
    opacity: 0.6;
}
.box {
    border: 2px solid black;
}